@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceSection)Model.Content;
    var settings = Model.Settings as ContentModels.ServiceSettings;

    var sectionColor = settings?.ServiceBgColor.Color ?? "#ffffff";


    var current = Umbraco.AssignedContentItem;
    var siteRoot = current?.Root();

    var servicePage = siteRoot?.Children<ServicePage>()?.FirstOrDefault();
    var items = servicePage?.Children<ServiceDetail>()?.OrderByDescending(x => x.CreateDate).ToList() ?? [];
}

<section class="services" style="background-color:@sectionColor">
    <div class="content-wrapper">

        @if (settings.ShowServiceLabel)
        {
            <h2>@content.ServiceLabel</h2>
        }
        <h3>@Html.Raw(content.ServiceTitle)</h3>

        <div class="services-container">
            @if (items.Any())
            {
                foreach(var item in items)
                {
                    <div class="service">
                        <a href="@item.Url()">
                            <h4>@item.Name</h4>
                            <img src="@(item.ServiceDetailThumbnail?.Url() ?? "~/images/image-21-min 1.svg")" alt="Risk Management icon" />
                            <p>@item.ServiceDetailExcerpt</p>
                        </a>
                    </div>
                }
            }
            else
            {
                <p>No Services Availiable</p>
            }
        </div>
    </div>
</section>