@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>
@{

	Layout = "mainLayout.cshtml";
}

<section class="hero">
	@if (Model.HeroBgImage != null)
	{
		<img src="@Model.HeroBgImage.Url()" />
	}

    <div class="content-wrapper">
        <h1>@Model.HeroTitle</h1>
        <p>@Html.Raw(Model.HeroText)</p>

        @if (Model.HeroLink != null)
        {
            <a href="@Model.HeroLink.Url" class="contact-button" >@Model.HeroLink.Name</a>
        }
    </div>
</section>